/* Google Fonts 
Font is under FLOSS SIL Open Font License. 
Made by funH4xx0r <3
*/
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

:root {
    min-height: 100%;
    overflow: hidden;
    display: block;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

body {
    /*height: calc(100vh - 7em);*/
    padding: 2vh 0cm 2vw 1vw;
    color: rgba(255, 255, 255, .75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
}

#content {
    display: flex;
}

span {
    display: inline-block;
}

header {
    display: flex;
    flex-direction: column;
    flex-basis: 20em;
}


.header__link {
    color: rgba(255, 255, 255, .75);
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    margin: 0 0 1em 0;
}

.header__link-name {
    text-decoration: none;
}

.typewriting {
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    height: 1.2em;
}

/* Animation */
.typewriting-anim {
    animation-delay: 5s;
    animation: typewriter calc(var(--len)*0.1s) steps(var(--len)) calc(var(--delay)*1s) 1 normal both,
        /* name duration steps delay and something else */
        blinkTextCursor 500ms steps(var(--len)) 1s
        /*calc((var(--len)*.5) + 5)*/
        infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: calc(var(--len)*0.545em);
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}