/* Google Fonts 
Font is under FLOSS SIL Open Font License. 
Made by funH4xx0r <3
*/
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/*
I hope relative measurements help it being displayed on phones, but it isn't great at all.
*/
:root {
    min-height: 100%;
    overflow: hidden;
}

body {
    /*height: calc(100vh - 7em);*/
    margin: 0 0 2vw 1vw;
    color: rgba(255, 255, 255, .75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
}

#content {
    display: flex;
    height: 100vh;
}

p {
    padding: 0;
    margin: 0;
}

#leftpane {
    margin: 2% 0 0 0;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    flex-basis: 15em;
    /* enough space for one more char */
    flex-wrap: nowrap;
    color: rgba(255, 255, 255, .75);
}

#leftpane__links {
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
}

#leftpane__links>:hover {
    background-color: rgba(255, 255, 255, .2);
}

.header__link--name>p {
    margin: 0;
}

.header__link--name {
    margin: 0 0 1em 0;
}

.header__link {
    color: rgba(255, 255, 255, .75);
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    margin: 0 0 1em 0;
}

.header__link--name {
    color: rgba(255, 255, 255, .75);
    text-decoration-line: none;
    display: inline;
}

#leftpane__about {
    display: flex;
}

#rightpane {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-left: 10vw;
    overflow-y: hidden;
    flex-grow: 1;
}

#rightpane>div[id] {
    margin:0 2% 0 0;
    /* ~ is "sibling" operator*/
    visibility: hidden;
    overflow-y: hidden;
    position: relative;
    max-height: 0;
    flex-grow: 1;
}

#rightpane>div[id]:target {
    visibility: visible;
    overflow-y: auto;
    max-height: max-content;
}


.typewriting {
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    height: 1.2em;
}

/* Animation */
.typewriting__anim {
    --shf: 4.9406564584124654e-324;
    /* https://stackoverflow.com/a/64921523 */
    /* damn CSS is so capable */
    /* speed is 12.5 chars per second */
    animation: typewriter calc(var(--len)*0.08s) steps(var(--len)) calc(var(--delay)*0.5s) 1 normal both,
        /* name duration steps delay and something else */
        blinkTextCursor 400ms steps(var(--len)) calc(var(--delay)*0.5s)
        /* won't work if float isn't 64 bit but it's pretty common */
        calc(3 + (var(--len)*0.2)*var(--shf)/var(--shf)) forwards normal;
    -moz-animation: typewriter calc(var(--len)*0.08s) steps(var(--len)) calc(var(--delay)*0.5s) 1 normal both,
        /* name duration steps delay and something else */
        blinkTextCursor 400ms steps(var(--len)) calc(var(--delay)*0.5s)
        /*calc((var(--len)*.5) + 5)*/
        round(calc(3 + (var(--len)*0.2)), 1) forwards normal;
    /* round is very unsupported */
    /* tested on firefox nightly */
    /* the end state depends on number of steps (shown above) and works great only when
    the calc expression is returns a number (n), so that n%1>=0.5*/
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: calc(var(--len)*0.545em);
    }
}

@keyframes blinkTextCursor {
    from {
        border-right: 2px solid rgba(255, 255, 255, .75);
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
        border-right: none;
    }
}